<style>
.connectedServicesInner{
  padding-left:45px;
}
.connectedRunnersInner{
  padding-left:45px;
}
.connectedServicesDetInner{
  padding-left:45px;
}
footer{
  text-align: center;
}
.runnersBtnGroup{
  margin-left:25px;
}
.terminateRunnerModalRunnerInfo{
  padding-left:30px;
}
</style>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">
        <%= title %></a>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Connected Runners</h2>
      <div class="connectedRunnersInner">
        <%
            if(!runnerList.length || runnerList.length == 0){
            %>
        There are no runners present. Currently spawning more...
        <%  
            }
            for(var i=0; i<runnerList.length; i++) {
            %>
        <h4>
          Runner
          <%= runnerList[i].id %></h4>
        <ul>
          <li>
            IP Address:
            <%= runnerList[i].ip %></li>
          <li>
            App Name:
            <%= runnerList[i].appName %></li>
          <li>
            Last Pinged:
            <%= runnerList[i].ping %></li>
        </ul>
        <div class="btn-group runnersBtnGroup">
          <button class="btn btn-success">Configure</button>
          <a class="btn btn-danger" data-toggle="modal" href="#terminateRunnerModal" onClick="openTerminateDialog(<%=JSON.stringify(runnerList[i])%>);">Terminate</a>
        </div>
        <% } %></div>
    </div>
    <div class="span6">
      <h2>Connected Services</h2>
      <div class="connectedServicesInner">
        <h3>Database Service</h2>
        <div class="connectedServicesDetInner">
          <ul></ul>
        </div>
        <h3>Authentication Service</h2>
        <div class="connectedServicesDetInner">
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <p>version 1.101</p>
    <p>&copy; Notoja 2013</p>
  </footer>
<!-- /javascripts -->
<script type="text/javascript">
function openTerminateDialog(runner){
    $("#myModalLabel").text('Terminate runner ' + runner.id  + "?");
    $("#terminateRunnerModalHeader").text('Runner ' + runner.id);
    $("#terminateRunnerModalIp").text('Ip Address: ' + runner.ip);
    $("#terminateRunnerModalAppName").text('App Name: ' + runner.appName);
    $("#terminateRunnerModalLastPing").text('Last Ping: ' + runner.ping);
    $("#terminateRunnerModalTerminateButton").click(function() {
      terminateRunner(runner.id);
      $("#terminateRunnerModal").modal('hide');
    });
}
function terminateRunner(runnerId){
    post_to_url('<%= orchestratorIP %>/runners/remove','runnerID=' + runnerId);
    setTimeout(function callback(){
      location.reload(false);
    }, 7000);
}
function httpGet(theUrl)
{
  var xmlHttp = null;
  xmlHttp = new XMLHttpRequest();
  xmlHttp.open( "GET", theUrl, false );
  xmlHttp.send( null );
  return xmlHttp.responseText;
}
function post_to_url(path, params, method) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', path, true);
  xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  xhr.onload = function () {
    // do something to response
    console.log(this.responseText);
  };
  xhr.send(params);
}
</script>
<!-- /modals -->
<div id="terminateRunnerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Terminate this runner?</h3>
    </div>
    <div class="modal-body">
      <p>
        You are trying to terminate this runner. By doing so, you will reduce the number of runners available in the HA list and increase traffic to other runners. You will also lose any clients currently connected to this runner.
      </p>
      <div class="terminateRunnerModalRunnerInfo">
       <h4 id="terminateRunnerModalHeader">Runner</h4>
        <ul>
          <li id="terminateRunnerModalIp">IP Address</li>
          <li id="terminateRunnerModalAppName">App Name</li>
          <li id="terminateRunnerModalLastPing">Last Pinged:</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="terminateRunnerModalTerminateButton" class="btn btn-danger">Terminate</button>
    </div>
</div>
</div>